body {
    background-color: yellow;
    margin: 0;
    padding: 0;
}

.top-div {
    background-color: blueviolet;
    width: 100vw;
    height: 300px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    height: 300px;
    width: 100vw;
    background-color: blue;
}

.div2 {
    height: 300px;
    width: 100vw;
    background-color: orange;
}