.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar ul li {
    display: inline-block;
    margin: 2%;
    font-size: 1.5rem;
}

.nav-bar ul a {
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(180, 16, 16);
}
.nav-bar ul a:hover {
    color: rgb(0, 0, 0);
}

#rickroll {
    display: none;
    padding-left:290px;
}